build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
config.json
src/test/data/sandbox/
src/test/data/sandboxmanyPersons.xml
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
src/main/resources/docs/
out/

!_reposense/config.json
